<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsbydmk.simplevotingsystem">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.AdminActivity"
            android:label="@string/title_admin_login"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.VotingActivity"
            android:label="@string/title_activity_voting"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.AdminPanelActivity"
            android:label="@string/title_admin_panel"
            android:parentActivityName=".activities.AdminActivity" />
        <activity
            android:name=".activities.CandidateCountActivity"
            android:label="@string/title_total_candidates"
            android:parentActivityName=".activities.AdminPanelActivity" />
        <activity
            android:name=".activities.VoterCountActivity"
            android:label="@string/title_voter_count"
            android:parentActivityName=".activities.AdminPanelActivity" />
        <activity
            android:name=".activities.AdminPasswordActivity"
            android:label="@string/title_ap_btn_change_password"
            android:parentActivityName=".activities.AdminPanelActivity" />
    </application>

</manifest>